# Environment variables
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env/
.venv/

# Flask
instance/
.webassets-cache

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
